 :root {
 	--background-color: #f6f6F6F6;
 	--pure-color: #ffffff;
 	--card-color: #ffffff;
 	--card2-color: #fbfbfb;
 	--pure-gery-color: #f5f5f5;
 	--border-color: #e0e0e0;
 	--line-color: #ebebeb;
 	--nav-color: #e4e6e7;
 	--nav-text-color: #374043;
 	--text-color: #333;
 	--text2-color: #444;
 	--hover-color: #f8f8f8;
 	/* Light 颜色变量 */
 }
