
/* 解决自动填充背景颜色问题 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--card-color) inset !important;
	-webkit-text-fill-color: var(--text-color) !important;
	background-clip: content-box !important;
}

/* 细滚动条 */
*::-webkit-scrollbar { width: 12px; height: 12px }
*::-webkit-scrollbar-button { width: 0px; height: 0px; display: none }
*::-webkit-scrollbar-corner { background-color: transparent }
*::-webkit-scrollbar-thumb {
	border: 4px solid rgba(0, 0, 0, 0);
	height: 6px;
	border-radius: 25px;
	background-clip: padding-box;
	background-color: rgba(0, 0, 0, 0.30);
}

.copy-button {
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
	background-color: #262a2b;
	color: var(--pure-color);
	border-radius: 0.25rem;
	border: 1px solid #333739;
	padding: 6px 12px;
	font-size: 12px;
	z-index: 10;
}

.code-block-extension-code-show-num .code-block-extension-code-line::before { content: attr(data-line-num); width: 1em; margin-right: 1.5em; text-align: right; color: #888; display: inline-block }


