
.header-title+.header-nav .nav-item:first-child a:before { display: none }


@media (min-width:1183px) {


	.header-nav .nav-item:first-child { position: relative }

	.header-credit { display: block; font-size: .666rem; margin: 0; bottom: -40px }
}
