@use '../mixin' as *;

.header {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 12px;
    text-align: center;
    display: flex;

    @include respond(md) {
        position: sticky;
        padding-top: 48px;
        padding-right: 48px;
        padding-bottom: 24px;
        padding-left: 48px;
    }

    @include respond(lg) {
        position: fixed;
        width: 328px;
        padding-top: 50px;
        padding-right: 40px;
        padding-bottom: 40px;
        margin-right: -328px;
    }

    @include respond(xl) {
        width: 344px;
        padding-right: 50px;
        padding-bottom: 50px;
        margin-right: -344px;
        margin-left: -30px;
    }
}

.sidebar-wrapper { 
    max-width: 275px; 

    @include respond(md) {
        max-width: 606px;
    }

    @include respond(lg) {
        max-width: 100%;
    }
}

.header-item {
    float: none;
    display: table;
    width: auto;
    margin-right: auto;
    margin-left: auto;

    @include respond(md) {
		display: flex;
		width: 100%;
		align-content: center;
		align-items: baseline;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		margin: 3px 0;
    }
}

.header-nav { 
    padding-top: 16px; 
    

    @include respond(md) {
        padding-top: 0;
        display: flex;
		width: 100%;
		align-content: center;
		align-items: baseline;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		margin: 3px 0;
        position: relative;
    }
}

.header-wrapper {
    max-width: 606px;
    @include respond(lg) {
        max-width: 100%
    }
}

.header-form .form-input { 
    margin-bottom: 0; 
}

.header-credit { 
    display: block; 
    font-size: .666rem; 
    margin: 0; 
    bottom: -40px; 

    @include respond(md) {
        display: flex;
		width: 100%;
		align-content: center;
		align-items: baseline;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		margin: 3px 0;
    }

    @include respond(xl) {
        display: block;
        font-size: .666rem;
        margin: 0;
        bottom: -40px
    }

    @include respond(xxl) {
        bottom: -56px; 
    }
}

.header-title + .header-nav {
    padding-top: 0;

    @include respond(md) {
        padding-top: 0;
    }

    .header-nav .nav-item:first-child a:before { 
        display: none; 
    }
}

