@use '../mixin' as *;
.main {
	float: left;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 24px;

	@include respond(md) {
		padding-top: 24px;
		padding-bottom: 48px;
	}

	@include respond(lg) {
		padding-top: 50px;
		padding-bottom: 112px;
		padding-left: 325px;
	}

	@include respond(xl) {
		padding-left: 315px;
	}
}

.main-pager { 
	padding-top: 24px; 

	@include respond(md) {
		padding-top: 48px;
	}

	@include respond(lg) {
		padding-top: 112px;
	}
}

.main-pager .nav--pager { 
	float: right; 
	width: auto; 
	margin-bottom: 0; 
}

.main-pager .nav-next { 
	position: relative; 
}

.protected {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.protected input[type="password"],
.protected input[type="submit"] {
	padding: 10px;
	margin: 5px 0;
	background: var(--card-color);
	width: 300px;
	box-sizing: border-box;
}

[data-js~=share]:before { margin-right: 0 }

[data-js~=share] .meta-count { display: none }

[data-js~=share][data-js~=share-start]:before { margin-right: 8px }

[data-js~=share][data-js~=share-start] .meta-count { display: inline }

