.card {
    margin-bottom: 24px;
    float: left;
    width: 100%
}

.card-title {
    font-size: 1.2rem;
    line-height: 16px;
    font-weight: 700
}

.card-item {
    background-color: var(--card-color);
    width: 100%;
    padding: 25px
}

.card-body {
    margin-top: -25px;
    padding-top: 15px;
    padding-bottom: 10px
}

.card-footer {
    padding-top: 5px;
    padding-bottom: 20px
}

.card--link .card-body .card-wrapper>p:first-of-type,
.card-title {
    margin-top: -10px;
    margin-bottom: 10px
}