*,
:after,
:before {
	box-sizing: border-box
}

:focus {
	outline: 0
}

html {
	text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--background-color);
	transition: all .3s ease;
	overflow-y: scroll;

}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

figure {
	display: block;
	margin: 0;
	text-align: center;
}

figcaption {
	color: var(--text2-color);
	font-size: 0.75rem;
	margin-top: 0.5em;
}

object {
	max-width: 100%
}

ol,
ul {
	margin-top: 0;
	list-style: none;
	padding-left: 0
}

li>ol,
li>ul {
	margin-bottom: 0
}

code,
pre {
	font-family: ui-monospace, JetBrains Mono, SFMono-Regular, Menlo, Monaco, Consolas, Andale Mono, Liberation Mono, Ubuntu Mono, Courier New, monospace;
	font-size: .9em
}

pre {
	word-wrap: break-word;
	position: relative;
}

pre>code,
pre>code:hover {
	padding: 0;
	border-radius: 0;
	border: 0;
	margin: 0;
}

blockquote p:last-child {
	margin-bottom: 0
}

