@use '../mixin' as *;

/* ------------------------------------
 * Global Rules
 * ------------------------------------ */
.root,
html {
	font-size: 15px;

	@include respond(sm) { font-size: 16px; }
	@include respond(xxl) { font-size: 17px; }
}

body,
.p {
	font-size: 1rem;
	line-height: 1.85;
	text-align: justify;
}

/* ------------------------------------
 * Horizontal Rule
 * ------------------------------------ */
hr {
	position: relative;
	width: calc(100% - 4px);
	height: .125rem;
	border: none;
	background: var(--card-color)
		repeating-linear-gradient(-45deg, var(--themecolor), var(--themecolor) .25rem, transparent .25rem, transparent .5rem);
	box-sizing: content-box;
	overflow: visible;
}

/* ------------------------------------
 * Headings
 * ------------------------------------ */
.h1,
.post--link .post-body .post-wrapper>p:first-of-type,
.post-title,
h1 {
	font-size: 1.75rem;
	line-height: 40px;

	@include respond(sm) {
		font-size: 2rem;
		line-height: 48px;
	}
	@include respond(xl) {
		font-size: 2.215rem;
		line-height: 56px;
	}
}

.h2,
h2 {
	font-size: 1.5rem;
	line-height: 36px;

	@include respond(sm) { line-height: 40px; }
	@include respond(xl) { line-height: 44px; }
}

h2::before {
	content: "";
	display: block;
	position: relative;
	width: 100%;
	height: 0.45em;
	top: 40px;
	right: 6px;
	background-color: var(--themecolor);
	opacity: .25;
}

/* h3 */
.h3,
h3 {
	font-size: 1.375rem;
	line-height: 30px;

	@include respond(sm) { line-height: 36px; }
}

h3::before {
	content: "";
	position: relative;
	display: block;
	width: 8px;
	height: 8px;
	top: 30px;
	right: 3px;
	border-radius: 50%;
	background-color: var(--themecolor);
	opacity: .25;

	@include respond(sm) {
		width: 9px; height: 9px;
	}
	@include respond(xl) {
		width: 10px; height: 10px;
		top: 34px;
	}
}

/* Heading-links inherit color */
h1 a, h1 a:hover,
h2 a, h2 a:hover,
h3 a, h3 a:hover,
h4 a, h4 a:hover,
h5 a, h5 a:hover,
h6 a, h6 a:hover {
	color: inherit;
	border-bottom: 0;
}

/* Smaller headings */
.h4,
.h5,
.h6,
h4,
h5,
h6 {
	font-size: 1.125rem;
	line-height: 26px;
}

.comment-title,
.h4,
h4 {
	@include respond(sm) {
		font-size: 1.375rem;
		line-height: 34px;
	}
}

/* ------------------------------------
 * Font size variants
 * ------------------------------------ */
.s1,
.header-about,
.header-form,
.post-body [href^="#fn:"],
small { font-size: .875rem; }

.avatar,
.meta,
.nav,
.s2 { font-size: .75rem; }

.s3 { font-size: .666rem; }

/* ------------------------------------
 * Highlighting: footnote flash
 * ------------------------------------ */
@keyframes yellowflash-bg {
	from { background: var(--themecolor); }
	to { background: transparent; }
}
.footnotes :target { animation: yellowflash-bg 1s; }

/* ------------------------------------
 * Font Family + Color
 * ------------------------------------ */
body,
.post--cover .post-body .post-wrapper>p:first-child,
.comment-title,
h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
	"Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
	SimSun, sans-serif;
	font-weight: 400;
	color: var(--text-color);
}

strong, b { font-weight: 600; }

/* ------------------------------------
 * Meta Info
 * ------------------------------------ */
.meta {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: #767676;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.meta>.meta-item:last-child { padding-right: 0; }

.meta-item {
	display: inline;
	padding-right: 8px;
	white-space: nowrap;
	cursor: pointer;
	color: inherit;

	&:before { font-size: 18px; }
	&:hover { color: #999; }

	&:hover .icon-ui:before,
	&:hover:before { color: #999; }
}

.meta-date { overflow: hidden; text-overflow: ellipsis; }
.meta-count { margin-left: -4px; }

/* ------------------------------------
 * Blockquote
 * ------------------------------------ */
blockquote {
	width: 100%;
	padding: 16px;
	margin: 0;
	font-size: 0.95rem;

	color: var(--text-color);
	background-color: var(--pure-gery-color);
	border-radius: 0.75rem;
	border: 1px solid var(--border-color);
	box-shadow: 1px 1px 3px rgba(0,0,0,.05);

	transition: all .3s cubic-bezier(0.345, 0.045, 0.345, 1);
}

/* ------------------------------------
 * Inline Code / KBD
 * ------------------------------------ */
code,
kbd {
	position: relative;
	display: inline-block;
	top: -1px;

	margin: 0 5px;
	padding: 0 8px;

	border-radius: 0.4rem;
	color: var(--text-color);
	background-color: var(--pure-gery-color);
	border: 1px solid var(--border-color);
}

/* ------------------------------------
 * Lists
 * ------------------------------------ */
ol,
ul { color: var(--text-color); }

ol p { margin-bottom: 0; }

li:before { color: #858585; }

/* ------------------------------------
 * Preformatted Blocks
 * ------------------------------------ */
pre {
	color: #fff;
	background-color: #1e2021;

	max-height: 800px;
	overflow-y: auto;
	overflow-x: hidden;

	border-radius: 0.5rem;
	box-shadow: 0 0 6px #00000008;
	border: 1px solid var(--border-color);
}

/* ------------------------------------
 * Forms
 * ------------------------------------ */
.form {
	position: relative;
	float: left;
	width: 100%;
}

.form-input {
	float: left;
	width: 100%;
	max-height: 36px;

	padding: 8px;
	border: 0;
	background: none;
	color: inherit;
	appearance: none;
}

.form-input-hidden { display: none; }

button,
input,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

input {
	width: 200px;
	padding: 10px 12px;
	font-size: 16px;

	border: 1px solid var(--border-color);
	border-radius: 0.75rem;

	box-shadow: 0 0 6px #00000008;
	outline: none;
}

textarea { vertical-align: top; }

/* ------------------------------------
 * Tables
 * ------------------------------------ */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 1.25rem 0;
	border-radius: 0.35rem;
	text-align: left;

	box-shadow: 0 0 6px #00000008;
	overflow: hidden;
}

thead { background-color: var(--pure-gery-color); }

th,
td {
	padding: 0.4rem 1.25rem;
	font-size: 0.95rem;
	border-bottom: 1px solid var(--line-color);
}

tr {
	transition: all .3s ease;

	&:has(td):hover { background-color: var(--hover-color); }
}

/* ------------------------------------
 * Icons
 * ------------------------------------ */
.icon:empty:before { margin-right: 0; }

.icon-ui:before {
	vertical-align: bottom;
	font-size: 20px;
	margin: 4px;
}

.icon-ui-comment:before { content: "\E802"; }
.icon-ui-date:before { content: "\E80D"; }

/* ------------------------------------
 * Links
 * ------------------------------------ */
a,
a::before,
a::after {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

/* ------------------------------------
 * Margin Normalization
 * ------------------------------------ */
.avatar,
.form,
.form-input,
.header-avatar,
.list,
.meta,
.nav,
.post-body [data-js~=embed],
.post-body ol,
.post-body ul,
blockquote,
h1, h2, h3, h4, h5, h6,
object,
ol,
p,
pre,
ul,
.cp p {
	margin-top: 0;
	margin-bottom: 16px;
}

/* Misc */
.post-body [href^="#fn"] { border-bottom: none; }
.no-bg { background-color: transparent !important; }
.pace .pace-progress { background: var(--themecolor) !important; }
.katex-html { display: none !important; }
